@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .nav-item {
    @apply text-gray-600 dark:text-gray-300 hover:text-blue-500 dark:hover:text-orange-500;
  }
  .nav-item.active {
    @apply text-blue-500 font-bold dark:text-orange-500;
  }
}

/* underline svg style */
/* header svg style */
@layer components {
    .underline-animation {
      @apply relative inline-block;
    }

    .underline-animation::before,
    .underline-animation::after {
      content: "";
      @apply absolute w-full h-[2.45em] left-0 -z-10;
      background-image: url('https://res.cloudinary.com/dztuxvl4l/image/upload/v1561346293/unitingline-anim_tje077_hdw2p5.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .underline-animation::before {
      @apply top-0;
    }

    .underline-animation::after {
      @apply top-0;
    }
/* header svg style end */

/* svg underline some item  */
    .svg-underline {
      position: relative;
    }

    .svg-underline::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: -0.5rem;
      right: -0.5rem;
      height: 0.75rem;
      z-index: -1;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    /* svg underline some item end */
  }

  /* artificial pr custom css */
.transition-transform {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.hover\:shadow-xl:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* artificial pr custom css end */
